

.navbar-brand{
	color:white !important;
}

#main{ margin:80px auto 0px; width: 640px; padding: 0; }
#main div:first-child{margin-bottom: 60px;}
#main div ul{padding: 0px;}
#main div ul li{list-style: none;float: left;}
#main div ul li:first-child{margin-right: 100px;}
#main div ul li a {height: 270px;width: 270px;padding-top: 50px;font-weight: bold;letter-spacing: 4px;}
#main div ul li a span{font-size: 120px;}

#wrapper{margin-top: 70px;padding-left:10px; padding-right: 10px}

#body-wrapper {height: 100%;}

#option-wrapper{padding: 0px;margin-bottom: 20px;padding-left: 10px}
#option-wrapper ul li.tituloMenuLateral {margin-top: 30px;}
#option-wrapper ul li.subtituloMenuLateral {padding: 0px;}

#ordenForm {margin-bottom: 20px}
#tituloPag {margin-bottom: 20px}

#map {height: 300px;margin-top: 10px;}

@media only screen and (max-width: 992px) {
    #menu .container{width: 100%; }
}
@media only screen and (max-width: 782px) and (min-width: 768px){
    .navbar-brand{display: none}
}
@media only screen and (max-width: 992px) {
	#body-wrapper{width: 100%}
    #option-wrapper{width: 100%; padding-left: 0px}
}

#modalModificarProyecto {
    width: 900px !important;
}

#datosProyecto, #datosCalculo{
	font-size: 14px !important;
}

#grafResultado {
	width: 100%;
	height: 400px;
}

/*
#menu-config li{
	margin-top: 0 !important;}

#menu-config .primero {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#menu-config .medio {
	border-radius: 0;
}*/